<div class="card hoverable">
  <div class="card-category">
    <% if article.categories.first %>
      <div class="chip">
        <%= article.categories.first.name %>
      </div>
    <% end %>

    <% if article.access?(current_user) %>
      <a href="#" class="material-icons button-read-after tooltipped"
      data-position="left" data-delay="50" data-tooltip="Leer después"
      value=<%= article.id %> >restore</a>
    <% end %>

    <div class="date">
      <span class="day"><%= article.created_at.to_time.day %></span>
      <span class="month"> <%= article.created_at.to_time.strftime("%^B")[0..2] %> </span>
    </div>
  </div>

  <div class="card-content">
    <span class="my-card-title card-title">
      <%= link_to(article.get_title_limit, article_path(article), :class => "check-later-read") %>
    </span>
    <p class="my-card-lead"><%= article.get_lead_limit %></p>
  </div>

  <div class="card-writer">
    <div class="row center">
      <div class="col s12">
        <% if article.tag_list.length > 0 %>
          <p>
            #<%= raw article.tag_list.map { |t| link_to t, tag_path(t)}.join(' #') %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col s6 author center">
        <div class="chip">
          <img src= <%= User.find(article.user_id).avatar.url %> alt="Contact Person">
          <%=  link_to(User.find(article.user_id).name, author_articles_path(article.user_id)) %>
        </div>
      </div>
      <div class="col s6">
        <div class="card-footer">
          <div class="views"><i class="ion-eye"></i> <%= article.visits %> </div>
          <div class="love"><i class="ion-heart"></i> <%= article.score.to_i %> </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-action">
    <% if article.access?(current_user) %>
      <%= link_to("LEER", article_path(article), :class => "check-later-read") %>
    <% else %>
      <% if current_user %>
        <%= form_tag article_charges_path(article), :class => "form-pay-article" do %>
          <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                  data-key = <%= Rails.configuration.stripe[:publishable_key] %>
                  data-description = "An article subscription"
                  data-amount = <%= article.price %> >
          </script>
        <% end %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    <% end %>
  </div>

</div>
