<div class="row">
  <div class="col s6 offset-s3">

    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this news from being saved:</h2>

        <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <%= form_for [@user, @article] do |f| %>

      <div class="field">
        <%= f.label :title, "Titular del artículo" %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :lead, "Entradilla del artículo" %><br>
        <%= f.text_area :lead %>
      </div>
      <div class="field">
        <%= f.label :body, "Cuerpo del artículo" %><br>
        <%= f.text_area :body %>
      </div>
      <div class="field">
        <%= f.label :tag_list, "Tags separados por comas (fun, concert,..)" %><br>
        <%= f.text_field :tag_list %>
      </div>

      <div class="field">
        <%= f.label :publish_at, "Fecha y hora a la que se quiere publicar el artículo" %><br>
        <input id="datetimepicker" name="datetimepicker" type="text" >
      </div>


      <div class="field">
        <%= f.label :price %><br>
        <%= f.text_field :price %>

        <p class="range-field">
          <input type="range" name="article[price]" id="price-article" min="10" max="100" />
        </p>
      </div>


      <div class="field">
        <%= f.label :category %><br>
        <div class="input-field col s12">
          <select name="category" class="browser-default">
            <option id="select-form" value="">Category</option>

            <% Category.all.each_with_index do |cat, index| %>
              <option  value= <%= cat.name %> ><%= cat.name %></option>
            <% end %>

          </select>
          <br>
        </div>
      </div>
      


      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <br>
  <%= link_to("Back", articles_path) %>

  </div>
</div>