
  <div class="row">
    <div class="col s9">
      <h4 class="center-align"> <%= @article.title %></h4>
      <h6> <%= @article.lead %></h6>

      <% if @article.photo1? %>
        <img src= <%= @article.photo1.url %> height="100%" width="100%">
      <% end %>

      <p>
        <%= @article.body %>
      </p>

      <% if @article.photo2? %>
        <img src= <%= @article.photo2.url %> height="100%" width="100%">
      <% end %>

      <%= render "articles/like_btns" %>

    </div>
    <div class="col s3">
      <%= render "layouts/aside" %>
    </div>
  </div>
