<div class="container">
  <div class="row">
    <div class="col s9">
      <h4 class="center-align"> <%= @article.title %></h4>
      <h6> <%= @article.lead %></h6>

      <p>
        <%= @article.body %>
      </p>

      <p>
        <strong>Visits:</strong>
        <%= @article.visits %>
      </p>

      <p>
        <strong>Score:</strong>
        <%= @article.score %>
      </p>


      <%= link_to 'Volver', articles_path %>
    </div>

    <div class="col s3">
      <%= render "layouts/aside" %>
    </div>
  </div>
</div>