<div class="row">
  <div class="col s6 offset-s3">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :Nombre %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :Apellidos %><br />
        <%= f.text_field :last_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :alias %><br />
        <%= f.text_field :alias, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :NIF %><br />
        <%= f.text_field :nif, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :Teléfono %><br />
        <%= f.text_field :phone, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :Género %><br />
        <%= f.text_field :genre, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :Localidad %><br />
        <%= f.text_field :location, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"Tarjeta Bancaria" %><br />
        <%= f.text_field :credit_card, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"Pequeña biografía" %><br />
        <%= f.text_field :biography, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar %>
      </div>


      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  </div>
</div>
