

<div class="container">
  <div class="row">
    <div class="col s6 offset-s3 z-depth-1" id="panell">
      <h5 id="title">Login</h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field" id="username">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="input-field" id="password">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <p>
          <input type="checkbox" id="remember"/>
          <label for="remember" id="checkbox" >Remember me</label>
        </p>
        <div id="div-button-form" class="actions">
          <%= f.submit "Log in", class: "waves-effect waves-light btn btn-form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
