
<div class="row">
  <%= render "layouts/red_principal_btn" %>
  <% get_redis %>
  <div class="col s12">
    <%= render "layouts/article_pendings" %>
  </div>
   <div class="col s12">
     <%= render "layouts/cloud_tag" %>
   </div>
   <div class="col s12">
     <%= render "layouts/ranking_recents" %>
   </div>
   <div class="col s12">
     <%= render "layouts/ranking_visit" %>
   </div>
   <div class="col s12">
     <%= render "layouts/ranking_fav" %>
   </div>
</div>
